* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Desktop First Styles */

/* NAVIGATION */
.navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 11rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.navbar img {
  width: auto;
  height: 3rem;
}

nav ul {
  list-style-type: none;
}

.navbar a {
  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: gray;
}

.navbar a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* FOOTER */

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 2rem 0rem;
}

footer a {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: black;
}

footer a:hover {
  color: gray;
}

/* MAIN CONTENT */

.content {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.contentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}

/* RECIPES */

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.recipeCard {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.recipeCard img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.recipeCard p {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1rem;
  background: white;
  padding: 1rem 1rem;
  border: solid black;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  max-width: 500px;
}

.recipeCard a {
  text-decoration: none;
  color: black;
}

.recipeCard:hover {
  opacity: 80%;
}

/* RECIPE PAGE */

.recipeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4%;
}

.recipeIntro {
  flex: 1;
  max-width: 40%;
}

.recipeIntro h1 {
  font-size: 5rem;
  margin-bottom: 4%;
}

.recipeIntro p {
  font-size: 1.1rem;
}

.ingredients {
  flex: 1;
  max-width: 55%;
}

.ingredientGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 3%;
}

.ingredientItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ingredientItem img {
  width: auto;
  height: 5rem;
}

.ingredientItem img:hover {
  width: auto;
  transform: scale(1.5) rotate(-20deg);
}

.ingredientItem p {
  font-size: 1rem;
  margin-top: 5%;
}

.instructions {
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: space-between;
}

.instructions img {
  max-width: 50%;
  border-radius: 24px;
}

/* Smaller than an Ipad, aka mobile phones */
@media screen and (max-width: 786px) {
  .content {
    padding: 1rem 2rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 0;
  }

  .contentTitle {
    flex-direction: column;
  }

  .recipeHeader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ingredientGrid {
    display: flex;
    flex-direction: column;
  }

  .recipeIntro {
    max-width: 100%;
  }

  .instructions {
    flex-direction: column;
    gap: 1rem;
  }

  .instructions img {
    max-width: 100%;
  }

  .recipeIntro h1 {
    margin-top: 16px;
    font-size: 3rem;
  }

  footer {
    padding: 1rem;
    gap: 2rem;
  }
}
